/* 
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
*/

h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* translate(-50%, -50%) */
}

div {
}

span {
  display: inline-block;
  transition: all 0.5s;
}

span.is-active {
  transform: translateY(-300px);
}

.ground {
  width: 600px;
  height: 400px;
  background: greenyellow;
  border: 10px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ball {
  /*transition: all 0.1s;*/
  pointer-events: none;
}

.visual {
  padding: 1rem;
  background-color: dodgerblue;
}
.news {
  padding: 1rem;
  background-color: orange;
}
.desc {
  padding: 1rem;
  background-color: yellow;
}

.pop {
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
